.App {
  text-align: center;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
}

.game__grid {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
}

.game__box {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}

.game__turn-icon {
  display: inline-block;
  height: 1.5em;
  width: 3em;
}
.game__winner-icon {
  height: 1.5em;
}
.game__button {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.game__button:hover {
  color: lightcoral;
} 

.game__winner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0.85;
}
